<!DOCTYPE html>
<html ng-app = "DC">
    <head>
        <meta charset="utf-8">
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <title>Digest Cycle</title>
    <body>
        <h1>The Digest Cycle</h1>
        <div ng-controller = "DCcontroller">
            <button ng-click="clickFun()">Log # of watchers</button>
            <input type="text" ng-model="name">
            <div>
                <br>
                <button ng-click="countOnce()">Count Once</button>
                <br>
                <button ng-click="upcounter()">increament counter</button>
            </div>
            <div>
                <br>
                <br>
                Once Counter : {{onceCounter}}
                <br>
                increamental Counter : {{counter}}
                <!-- <br>
                Number of watchers : {{$scope.$$watchersCount}} -->
            </div>
        </div>
    </body>
</html>